       .head{
            text-transform: uppercase;
            font-size: 20pt;
            text-align: center;
        }
        
        .form{
            margin: auto;
            width: 10%;
            padding: 5px;
            height: 500px;
            background-color: rgb(220, 243, 243);
            border-radius: 2px;
            margin-top: 20px;    
            display: none;  
            position: fixed;
            top: 0px;
            left: 20%;
            right: 20%;
            z-index: 5;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.5);  
            transition: 1s;
                
        }
        .element{
            margin-left: 10%;;
        }
        label{
            font-size: 18pt;
        }
        input[type = text], .password-txt{
            display: inline-block;
            width: 70%;
            box-sizing: border-box;
            margin: 10px 0;
            background:transparent;
            border-top: none;
            border-left: none;
            border-right: none;
            margin-bottom: 15px;
            font-size: 18pt;
            padding: 10px;
            
        }
        input[type = text]:focus, .password-txt:focus{
            border: none;
        }
        .login-btn{
            width: 80%;
            padding: 10px;
            margin: 10px 0;
            background-color: rgb(85, 78, 78);
            border: none;
            border-radius: 3px;
            color: white;
            font-size: 18pt;
            cursor: pointer;
            margin-top: 30px;

        }
        a{
            text-decoration: none;
            margin-left: 40%;
            
        }
        .close-btn{
            top: 0;
            float: right;
            width: 30px;
            text-align: center;
            margin-left: 90%;
               
        }
        .close-btn:hover{
           color: red;
           cursor: pointer;
        }
        i{
            color: rgb(255, 255, 255);
            font-size: 18pt;
            width: 40px;
            padding: 10px;
            text-align: center;
            text-align: center;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 3px;

        }
        @media only screen and (min-width:1024px){
            .form{
                width: 40%;
                left: 10px;
                right: 10px;
                flex-direction: column;
            }
        }
        @media only screen and (min-width:1280px){
            .form{
                width: 35%;
                left: 10px;
                right: 10px;
                flex-direction: column;
            }
        }