*{
    margin: 0;
    padding: 0;
}
.smallScreen-Menu-icon{
  display: none;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 20px;
    margin: 2px;
    margin-bottom: 40px;
}
/* side bar container
*/
.sidebar-container{
    width: 20%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    background-color: #1a162b;
    transition: .5s;
}
.side-bar-itmes{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.side-bar-itmes li{
 list-style: none;
 width: 100%;
 margin-top: 10px;
 padding-top: 10px;
 padding-bottom: 10px;
 background-color: #1a162b;
 transition: all .6s ease;
 box-shadow: 1px 1px 1px #26203d;

}
.side-bar-itmes .icon{
    margin-left: 10px;
}
.dropdown-container{
    display: none;
    flex-direction: column;
    background-color: #1a162b;
    padding-left: 10px;
    transition: all .5s ease;
  }
  .fa-caret-down{
    float: right;
    padding-right: 8px;
  }
  .dropdown-button{
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: white;
    margin-left: 10px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
  }
  .dropdown-container a{
    margin: 10px;
  }
  .dropdown-container a:hover{
    color: orangered;
  }
.side-bar-itmes a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.side-bar-itmes li:hover{
    background-color: #26203d;
    cursor: pointer;
}
.side-bar-itmes .title{
    margin-left: 20px;
}
/* view profile popup
*/
.popup-profile-container{
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 30px;
    left: 20%;
    z-index: 5;
    width: 60%;
    background-color: white;
    box-shadow: 2px 2px 2px 5px gray;
    margin: auto;
    flex-direction: column;
    padding: 10px;
    overflow: auto;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
    }

    @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
    }
.profile-detail{
    width: 60%;
    margin: 10px;
}
.profile-detail .detail{
    display: flex;
    flex-direction: row;
    margin:10px;
}
.detail label{
    font-size: 18px;
    font-weight: bolder;
}
.detail p{
    font-size: 20px;
    font-weight: bolder;
    background-color: rgb(241, 219, 238);
}
.profile-picture-container{
    width: 40%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile-picture-bg{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 5px gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-container{
    display: flex;
    flex-direction: row;
}
.profile-picture-bg img{
    width: 96%;
    height: 96%;
    border-radius: 50%;
}
.profile .buttons{
    margin: 40px;
}
.buttons button{
    margin-top: 40px;
    width: 120px;
    font-size: 18px;
    color: white;
}

/* change password popup
*/
.popup-change-password-container{
    margin: auto;
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0px;
    left: 20%;
    z-index: 5;
    width: 60%;
    background-color: white;
    box-shadow: 2px 2px 2px 5px gray;
    margin: auto;
    padding: 10px;
    overflow: auto;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
    }

    @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
    }
.popup-change-password-container .cp-title-above{
    width: 100%;
    height: 15%;
    background-color: orangered;
    color: white;
    font-size: 20px;
    text-align: center;
}
.change-pw-form-container{
    width: 98%;
    height: 83%;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.change-pw-form-container input[type="password"]{
    width: 85%;
    padding: 12px;
    margin-left: 20px;
    font-size: 18px;
}
.change-pw-form-container label{
    margin-left: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}
.changepw-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.changepw-buttons input{
    width: 150px;
    padding: 12px;
    border: none;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 60px;

}
