*{
    margin: 0;
    padding: 0;
}
h3{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
}
.approved-requests{
    width: 15%;
    height:100%;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
     overflow: auto;
 }

.approved-requests p{
    margin-left: 10px;
    float: left;
    display: flex;
    margin-top: 10px;
}
.approved-requests img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    float: left;
}
.search-bar-container{
    width: 100%;
}
.search-bar-container input{
    width: 30%;
    padding: 6pt;
    margin: 20px;
    border-radius: 5px;
    border: 2px solid rgb(6, 231, 247);
}
.search-bar-container button{
    border: none;
    background-color: blue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 6px;
    border-radius: 5px;
}
.date-container{
    float: right;
    display: inline-block;
    margin-right: 10px;
}
.date-container span{
    font-size: 20px;
    color: red;
    cursor: pointer;
    margin-left: 10%;
    margin-top: 0;
    display: inline-block;

}
.date-container p{
    color: rgb(9, 107, 255);
    font-weight: bold;
}